@mixin center {
    display:flex;
    justify-content: space-between;
    width:90%;
    margin:25px auto 25px auto;
}
@mixin lines {
    content: '';
    position: absolute;
    height:5px;
    border-radius: 5px;
    width:30px;
    background-color: rgb(32, 32, 32);
}


.admin_panel{
    margin-top:95px;
    width:100%;
    min-height:100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:50px 0;
    position: relative;
    &__error{
        left:0;
        top:0;
        position: absolute;
        height:100vh;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor:not-allowed;
        &__message{
            height:50px;
            padding:15px 30px;
            background-color: #f1e5e1;
            border-radius: 5px;
            border:1px solid #afadac;
            display:flex;
            align-items: center;
            color:black;
            position: relative;
        }
    }
    hr{
        background-color:rgb(53, 53, 53);
        height:1px;
        box-shadow: 0px 0px transparent;
        width:90%;
    }
    .panel{
        background-color: rgb(207, 231, 245);
        width:80%;
        min-height:80%;
        box-shadow:3px 3px 8px black;
        &__headline{
            @include center();
            h1{
                color:rgb(32, 32, 32);
            }
            &__content{
                display:flex;
                flex-direction: row;
                align-items: center;
                button{
                    margin-left:15px;
                    border:none;
                    position: relative;
                    height:50px;
                    width:50px;
                    cursor: pointer;
                    background-color: transparent;
                    &::before{
                        @include lines();
                        left:10px;
                        top:25px;
                    }
                    &::after{
                        @include lines();
                        transform: rotate(-90deg);
                        transition: .5s;
                        left:10px;
                        top:25px;
                    }
                }
                .rotate{
                    &::before{
                        @include lines();
                        left:10px;
                        top:25px;
                    }
                    &::after{
                        @include lines();
                        left:10px;
                        top:25px;
                        transform: rotate(360deg);
                        transition: .5s;
                    }
                }
            }
        }
        .height{
            animation: ease-in height .5s forwards;
        }
        &__menu{
            @include center();
            height:0px;
            overflow: hidden;
            .opened{
                transform: translateY(0%);
                transition: .5s;
                opacity:1;
            }
            &__content{
                transform: translateY(-100%);
                background-color: white;
                width:100%;
                transition: .5s;
                opacity:0;
            }
        }
    }
}

.newProduct{
    width:100%;
    &__content{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        &__info{
            display:flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;
            div{
                h3{
                    margin-left:20px;
                }
                ol{
                    margin:20px;
                    padding:0 0 0 16px;
                }
            }
            input{
                margin:20px;
                position: relative;
                overflow: visible;
                height:50px;
                color:transparent;
                &::before{
                    height:50px;
                    width:225px;
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    background-color: rgb(187, 226, 248);
                    border:1px solid rgb(145, 206, 241);
                }
                &::after{
                    position: absolute;
                    left:12px;
                    top:16px;
                    color:black;
                    content:'Dodaj zdjęcie';
                    font-size: large;
                }
            }
        }
        &__inputs{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            &__input{
                display:flex;
                flex-direction: column;
                margin:20px;
            }
        }
    }
}

.categories{
    width:100%;
    &__content{
        position: relative;
        display:flex;
        flex-direction: column;
        width:100%;
        &__menu{
            position:absolute;
            left:0;
            top:0;
            justify-content: center;
            align-items: center;
            &__window{
                margin:0 auto;
                height:50px;
                padding:15px 30px;
                background-color: rgb(187, 226, 248);
                border-radius: 5px;
                border:1px solid #afadac;
                display:flex;
                align-items: center;
                flex-direction: column;
                &__buttons{
                    padding-top:10px;
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                    button{
                        border:none;
                        border-radius: 5px;
                        padding:3px 15px;
                    }
                    .delete{
                        background-color: rgb(243, 95, 95);
                        border:1px solid rgb(247, 70, 70);
                    }
                    .cancel{
                        background-color: white;
                        border:1px solid #afadac;
                    }
                }
            }
        }
        &__list{
            flex-wrap: wrap;
            width:100%;
            display:flex;
            flex-direction: row;
            margin: 10px 5px;
            &__item{
                height:20px;
                margin:3px 5px;
                padding:5px 8px;
                background-color: rgb(187, 226, 248);
                border-radius: 5px;
                display:flex;
                align-items: center;
            }
        }
        &__new{
            display:flex;
            flex-direction: column;
            margin:10px;
            &__row{
                button{
                    padding:6px 12px;
                    margin-left: 8px;
                    background-color: rgb(187, 226, 248);
                    border:1px solid rgb(145, 206, 241);
                    border-radius: 3px;
                }
            }
            input{
                padding:5px;
                width:200px;
            }
        }
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes height {
	0% {
		height:0%;
	}
	50% {
		height:50%;
	}
	100% {
		height:100%;
	}
}

