@mixin center {
    display:flex;
    justify-content: space-between;
    width:90%;
    margin:25px auto 25px auto;
}
@mixin lines {
    content: '';
    position: absolute;
    height:5px;
    border-radius: 5px;
    width:30px;
    background-color: rgb(32, 32, 32);
}


.admin_panel{
    margin-top:95px;
    width:100%;
    min-height:100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:50px 0;
    position: relative;

    &__alert{
        right:50px;
        top:160px;
        position: fixed;
        height:0vh;
        z-index: 25;
        display:flex;
        justify-content: center;
        align-items: center;
        &__message{
            margin:0 auto;
            transition:.5s;
            padding:15px 20px;
            border-radius: 8px;
            color:white;
        }
    }
    .hr{
        background-color:rgb(53, 53, 53);
        height:1px;
        width:90%; 
        margin:0 auto;
    }
    .panel{
        background-color: rgb(88, 88, 88);
        width:80%;
        min-height:100vh;
        &__headline{
            @include center();
            h1{
                color: rgb(245, 245, 245);
            }
            &__content{
                display:flex;
                flex-direction: row;
                align-items: center;
                button{
                    margin-left:15px;
                    border:none;
                    position: relative;
                    height:50px;
                    width:50px;
                    cursor: pointer;
                    background-color: transparent;
                    &::before{
                        @include lines();
                        left:10px;
                        top:25px;
                    }
                    &::after{
                        @include lines();
                        transform: rotate(-90deg);
                        transition: .5s;
                        left:10px;
                        top:25px;
                    }
                }
                .rotate{
                    &::before{
                        @include lines();
                        left:10px;
                        top:25px;
                    }
                    &::after{
                        @include lines();
                        left:10px;
                        top:25px;
                        transform: rotate(360deg);
                        transition: .5s;
                    }
                }
            }
        }
        .height{
            animation: ease-in height .5s forwards;
        }
        &__menu{
            @include center();
            height:0px;
            overflow: hidden;
            .opened{
                transform: translateY(0%);
                transition: .5s;
                opacity:1;
            }
            &__content{
                transform: translateY(-100%);
                background-color: rgb(75, 75, 75);
                width:100%;
                transition: .5s;
                opacity:0;
                color: rgb(245, 245, 245);
            }
        }
    }
}

.newProduct{
    width:100%;
    position:relative;
    &__content{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin:0 auto;
        &__info{
            display:flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;
            div{
                h3{
                    margin-left:20px;
                }
                ol{
                    margin:20px;
                    padding:0 0 0 16px;
                }
            }
            input{
                margin:20px;
                position: relative;
                overflow: visible;
                height:50px;
                color:transparent;
                &::before{
                    height:50px;
                    width:225px;
                    content:'';
                    position:absolute;
                    left:0;
                    top:0;
                    background-color: rgb(187, 226, 248);
                    border:1px solid rgb(145, 206, 241);
                }
                &::after{
                    position: absolute;
                    left:12px;
                    top:16px;
                    color:black;
                    content:'Dodaj zdjęcie';
                    font-size: large;
                }
            }
        }
        &__inputs{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            &__input{
                display:flex;
                flex-direction: column;
                margin:20px;
            }
        }
    }
    .buttonAdd{
        margin:25px 0 0 0;
        width:150px;
        padding:5px 5px;
        background-color: #67c867;
        border:1px solid rgb(38, 146, 38);
        border-radius: 5px;
        color:white;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
.categories{
    width:100%;
    &__content{
        position: relative;
        display:flex;
        flex-direction: column;
        width:100%;
        margin-bottom: 25px;
        &__list{
            flex-wrap: wrap;
            width:95%;
            display:flex;
            flex-direction: row;
            margin: 25px auto 0 auto;
            background-color: rgb(88, 88, 88);
            border-radius: 5px;
            &__item{
                width:95%;
                margin: 0 auto;
                h1{
                    color: rgb(245, 245, 245);
                }
                &__products{
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    padding-bottom:25px;
                    &__product{
                        width:200px;
                        background-color: white;
                        text-align: center;
                        box-shadow: 2px 2px 6px black;
                        margin: 25px 25px 0 0;
                        position: relative;
                        &:hover #img{
                            opacity:1;
                        }
                        span{
                            margin: 10px 0;
                            color:black;
                        }
                        .image{
                            width:100%;
                            display:flex;
                            justify-content: center;
                            img{
                                width:100%;
                                transition: .5s;
                                border-bottom: 1px solid rgb(165, 165, 165);
                            }
                        }
                    }
                }
            }
        }
        &__new{
            display:flex;
            flex-direction: column;
            width:95%;
            margin: 25px auto 0 auto;
            &__row{
                button{
                    padding:6px 12px;
                    margin-left: 8px;
                    background-color: white;
                    border:1px solid rgb(128, 128, 128);
                    border-radius: 3px;
                    color:black;
                }
            }
            input{
                padding:5px;
                width:200px;
            }
        }
    }
}

.products{
    width:100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes height {
	0% {
		height:0%;
	}
	50% {
		height:50%;
	}
	100% {
		height:100%;
	}
}

