@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap");
header {
  width: 100%;
  height: 95px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 3px 0px 12px black;
}
header .content {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  header .content {
    width: 90%;
  }
}
@media screen and (max-width: 1023px) {
  header .content {
    width: 95%;
    justify-content: space-between;
  }
}
header .content .logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -3px;
  margin-right: 50px;
  position: relative;
  z-index: 5;
}
header .content .logo img {
  height: 60%;
}
@media screen and (max-width: 366px) {
  header .content .logo img {
    display: none;
    visibility: hidden;
  }
}
header .content .nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  transition: 0.5s;
}
@media screen and (max-width: 1023px) {
  header .content .nav {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    top: 0;
    left: 0;
  }
}
header .content .nav__items {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1023px) {
  header .content .nav__items {
    flex-direction: column;
    justify-content: space-between;
  }
}
header .content .nav__items__item {
  margin: 0 10px;
  font-weight: 600;
  font-size: 22px;
}
@media screen and (max-width: 1023px) {
  header .content .nav__items__item {
    font-size: 5vh;
  }
}
header .content .nav__socials {
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1023px) {
  header .content .nav__socials {
    flex-direction: column;
  }
}
header .content .nav__socials__items {
  justify-content: space-between;
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .content .nav__socials__items__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  header .content .nav__socials__items__item {
    margin-top: 45px;
    padding: 0 0 45px 0;
  }
}
header .content .nav__socials__items img {
  height: 20px;
}
@media screen and (max-width: 1023px) {
  header .content .nav__socials__items img {
    height: 3vh;
  }
}
header .content .nav__socials__language {
  font-weight: 600;
  font-size: 22px;
  padding-left: 25px;
}
@media screen and (max-width: 1024px) {
  header .content .nav__socials__language {
    font-size: 3vh;
    padding-left: 0px;
  }
}
header .content .nav__close {
  position: absolute;
  right: 0;
  top: 25px;
  background-color: black;
  height: 50px;
  width: 50px;
}
@media (min-width: 1024px) {
  header .content .nav__close {
    display: none;
    visibility: hidden;
  }
}
header .content .nav__close span {
  width: 50px;
  height: 50px;
  background-color: black;
  position: relative;
}
header .content .nav__close span::before {
  position: absolute;
  content: "";
  background-color: white;
  height: 3px;
  width: 48px;
  left: -10px;
  top: 22px;
  transform: rotate(45deg);
}
header .content .nav__close span::after {
  position: absolute;
  content: "";
  background-color: white;
  height: 3px;
  width: 48px;
  left: -10px;
  top: 22px;
  transform: rotate(-45deg);
}
header .content .open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 40px;
  height: 30px;
}
header .content .open span {
  width: 100%;
  height: 4px;
  background-color: black;
}
@media (min-width: 1024px) {
  header .content .open {
    visibility: hidden;
    display: none;
  }
}

.hidden {
  margin-left: -200%;
  height: 100vh;
  width: 100vw;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  margin-top: 95px;
  width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .wrapper {
    width: 90vw;
  }
}
@media screen and (min-width: 766px) and (max-width: 1023px) {
  .wrapper {
    width: 95vw;
  }
}
@media screen and (max-width: 765px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper__about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1365px) {
  .wrapper__about {
    flex-direction: column-reverse;
  }
}
.wrapper__request {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 766px) {
  .wrapper__request {
    flex-direction: column;
    height: 100vh;
  }
}
.wrapper__request img {
  height: 100%;
  box-shadow: 3px 3px 12px black;
}
@media screen and (max-width: 766px) {
  .wrapper__request img {
    height: 50%;
    margin: 35px 0;
  }
}

@media screen and (min-width: 1024px) {
  .paddingLeft {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .paddingRight {
    padding-right: 50px;
  }
}

.about {
  width: 570px;
  font-weight: 700;
}
@media screen and (max-width: 1365px) {
  .about {
    margin: 0 auto 170px auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 1365px) {
  .about {
    width: 480px;
    margin: 0 0 170px 0;
  }
}
@media screen and (max-width: 480px) {
  .about {
    width: 95vw !important;
    margin: 0 0 100px 0;
  }
}
.about hr {
  width: 33%;
}
.about p {
  font-size: 2vw;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .about p {
    font-size: 5vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .about p {
    font-size: 4vw;
  }
}
.about span {
  font-size: 20px;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .about span {
    font-size: 18px;
  }
}
.about__text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .about__text {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 481px) {
  .about__text div {
    font-size: 2vh;
  }
}
@media screen and (max-width: 480px) {
  .about__text div {
    font-size: 16px;
  }
}

@media screen and (max-width: 1365px) {
  .columnReverse {
    flex-direction: column;
  }
}

.parallax {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
  padding: 0;
}
@media screen and (min-width: 1023px) {
  .parallax .borders {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .parallax .borders .border {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .parallax .borders .border::before {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    left: -35px;
    top: -35px;
    border-top: 2px solid black;
    border-left: 2px solid black;
  }
  .parallax .borders .border::after {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    right: -34px;
    bottom: -34px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
}

.gallery {
  height: 100vh;
  width: 70%;
}

.headline {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}
.headline h1 {
  font-size: 5vh;
  font-weight: 700;
}
.headline hr {
  background-color: black;
  height: 1px;
  width: 300px;
}

.box {
  width: 250px;
  height: 70px;
  position: relative;
  background: #f0f0f0;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .actionBtn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 1.5vw;
  padding: 10px 0px 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 3px 3px 12px rgb(0, 0, 0);
  transition: 0.3s;
}
@media screen and (max-width: 1023px) {
  .box .actionBtn {
    font-size: 3vh;
  }
}
.box .actionBtn:hover {
  box-shadow: 0px 10px 12px rgb(0, 0, 0);
  transition: 0.3s;
}
.box .actionBtn img {
  margin-top: 2px;
  padding: 0 30px;
  height: 25px;
}
.box span {
  position: absolute;
  display: block;
  background: rgb(255, 255, 255);
  transition: all 0.075s linear;
}
.box .bottom {
  width: 100%;
  height: 5px;
  transform: scaleX(0);
}
.box .right {
  width: 5px;
  height: 100%;
  transform: scaleY(0);
}
.box .right {
  top: 0;
  right: 0;
  transition-delay: 0.15s;
  transform-origin: top left;
}
.box .bottom {
  bottom: 0;
  right: 0;
  transition-delay: 0.075s;
  transform-origin: top right;
}
.box:hover .right {
  transition-delay: 0.075s;
}
.box:hover .bottom {
  transition-delay: 0.15s;
}
.box:hover .bottom {
  transform: scaleX(1);
}
.box:hover .right {
  transform: scaleY(1);
}

.footer {
  margin-top: 200px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.footer__content {
  margin: 0 auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 766px) {
  .footer__content {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .footer__content {
    width: 90%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__content {
    width: 95%;
  }
}
.footer__content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 766px) {
  .footer__content__logo {
    width: 100%;
  }
}
.footer__content__logo img {
  height: 150px;
}
.footer__content__section {
  width: 250px;
  min-height: 200px;
}
@media screen and (max-width: 766px) {
  .footer__content__section {
    width: 90%;
  }
}
.footer__content__section h1 {
  color: white;
  font-size: 22px;
  text-align: left;
}
.footer__content__section ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer__content__section ul li {
  width: 100%;
  text-align: left;
  color: white;
}
.footer hr {
  color: white;
  width: 70%;
  margin: 25px auto 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .footer hr {
    width: 90%;
  }
}
@media screen and (max-width: 1023px) {
  .footer hr {
    width: 95%;
  }
}
.footer__dev {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .footer__dev {
    width: 90%;
  }
}
@media screen and (max-width: 1023px) {
  .footer__dev {
    width: 95%;
  }
}
.footer__dev h4 {
  color: white;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  z-index: 15;
}
.loader__content {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loader__content__logo {
  overflow: visible;
}
.loader__content__logo__triangle {
  fill: none;
  stroke: white;
  stroke-width: 30;
  stroke-miterlimit: 10;
}
.loader__content__text {
  margin: -30px auto 0 auto;
  height: 150px;
  overflow-y: hidden;
}
.loader__content__text h1 {
  transform: translateY(-200px);
  font-size: 48px;
  color: white;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

.easeOut {
  opacity: 0;
  transition: 0.5s;
}

.gallery {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.gallery__item {
  width: 300px;
  background-color: red;
  height: 400px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid white;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  width: 10px;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=index.css.map */