@import '../components/Header/header';
@import '../components/Home/home';
@import '../components/Loader/loader';

body,html{
    box-sizing:border-box;
    padding:             0;
    margin:              0;
}
a{
    text-decoration: none;
    color:        inherit;
}
